@import "./bootstrap.css";
@import "./styles.css";
@import "./icons.css";

.open {
  display: block;
}
.hu-color-picker {
  width: min-content !important;
  .colors .item:nth-child(8n + 1) {
    margin-left: 10px !important;
  }
}
// .q-select .q-item {
//   white-space: normal !important;
//   display: inline-flex !important;
// }
